@font-face {
  font-family: "Ydestreet";
  src: url("../../assets/Ydestreet_FONT/YdestreetL.ttf");
}

.navBar {
  z-index: 999;
  background-color: black;
  padding: 1rem 3rem;
  display: flex;
  position:fixed;
  align-items: center;
  width: 92%;
  top: 0;
  left: 0;
}


.header {
  font-size: 2rem;
  font-family: "Monoton", cursive;
  background: linear-gradient(
    349deg,
    rgba(192, 250, 202, 1) 15%,
    rgba(255, 212, 0, 1) 35%,
    rgba(233, 115, 141, 1) 55%,
    rgba(105, 55, 161, 1) 70%
  );
  -webkit-background-clip: text;
  color: transparent;
}


.main {
  display: flex;
  flex-direction: row;
  margin: 0 2rem;
  flex-direction: row;
  font-family: "Ydestreet";
}

.footer {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  font-family: "Ydestreet";
}
.navItem {
  margin-right: 1rem;
  font-size: 1rem;
}


.navLink {
  color: white;
  text-decoration: none;
}
