.navBar {
  background-color: black;
  padding: 1rem 3rem;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 130px;
  height: 50px;
  margin-top: 10px;
  margin-right: 2rem;
}

.navList {
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navItem {
  margin-right: 1rem;
  font-size: 16px;
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  color: white;
  text-decoration: none;
}

.smallText {
  font-size: 14px;
}

.navItem:first-child {
  margin-left: auto;
}
@media (max-width: 768px) {
  .navBar {
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .navList {
    width: 100%;
    justify-content: space-between;
  }

  .navItem {
    margin-right: 0;
  }
}
