/* SearchResults.module.css */

.cardRow {
  width: 100%; /* 기본적으로 100%로 설정 */
  min-width: 880px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.cardRow > * {
  margin: 0 1% 2%; /* 기본 마진 */
}

/* 화면 크기가 1280px 미만일 때의 스타일 */
@media (max-width: 1280px) {
  .cardRow > * {
    margin: 0 0.5% 2%; /* 마진을 조금 줄입니다 */
  }
}

/* 화면 크기가 768px 미만일 때의 스타일 (예: 태블릿) */
@media (max-width: 768px) {
  .cardRow > * {
    margin: 0 0.25% 2%; /* 마진을 더 줄입니다 */
  }
}

/* 화면 크기가 480px 미만일 때의 스타일 (예: 모바일) */
@media (max-width: 480px) {
  .cardRow > * {
    margin: 0 0.1% 2%; /* 마진을 최소로 줄입니다 */
  }
}

.sortSelectContainer {
  display: flex;
  justify-content: flex-end;
  align-items: right;
}
