/* UserInfo.module.css */

.userInfo {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 5px;
}

img {
  object-fit: cover;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.opinionB {
  flex-direction: row-reverse;
}

.opinionB .profile {
  margin-left: 10px;
  margin-right: 0;
}
