.main {
  color: inherit;
  text-decoration: none;
  display: block;
  height: 20rem;
  width: 15rem;
  border: none;
  box-shadow: 0 0 10px rgb(250, 250, 250);
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title,
.percent,
.options {
  margin: 0;
  color: #fff;
}


.hashtags {
  color: #939393;
  font-size: 12px;
  margin-top: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 10px;
  color: #366eff;
}
.iconWrapper:hover {
  color: #85a5f5;
}

.iconWrapper svg {
  margin-right: 5px;
}
.cardRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
}
.hiddenSpace {
  display: inline-block;
  visibility: hidden;
  height: 14px;
}
.sortSelectContainer {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  margin-right: 15px;
  margin-bottom: 10px;
}
.modalContent button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #366eff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modalContent button:hover {
  background-color: #85a5f5;
}
.modalContainer {
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent input {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
