.body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 50rem;
  background-image: linear-gradient(
    var(--rotate),
    #f5765a 2.16%,
    #687ff7 100.33%
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
  border-radius: 3rem;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


.kakao_image {
  width: 100%;
}

.kakao_image {
  margin-bottom: 30px;
  cursor: pointer;
}


.form_control input {
  background-color: black;
  border-radius: 1rem;
  display: block;
  width: 100%;
  height: 35px;
  padding: 1rem;
  font-size: 14px;
  color: #ffffff;
}

.form_control input:focus {
  outline: 0;
  border-color: #ffffff;
}

.login_button {
  cursor: pointer;
  background-color: #91c5eb;
  color: #fff;
  display: block;
  font-size: 16px;
  width: 100%;
  border: none;
  height: 4rem;
  border-radius: 1rem;
}

.login_signup {
  text-align: center;
  margin-top: 20px;
}



.login_signup_link {
  color: #67bfff;
  text-decoration: none;
  display: inline;
  font-size: 14px;
  margin-left: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.text {
  font-size: 4rem;
  font-family: "Monoton", cursive;
  background: linear-gradient(
    349deg,
    rgba(192, 250, 202, 1) 15%,
    rgba(255, 212, 0, 1) 35%,
    rgba(233, 115, 141, 1) 55%,
    rgba(105, 55, 161, 1) 70%
  );
  -webkit-background-clip: text;
  color: transparent;
}
